**/**/*.pyc
waftools/__pycache__
main.cc
main.cpp
latticetester.xcodeproj/
latticetester.xcodeproj
DerivedData/
Results/
results.txt
doxygen/html/
doxygen/bib/
doxygen/latex/
doc/html/
doc/xml/
doc/latex/
build/
waflib/
.lock-waf_darwin_build
waf
.lock*
version*
